/* styles.css */
@import url('https://fonts.cdnfonts.com/css/aeroport');

body {
    font-family: 'Aeroport', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    width:100%; /* Выравниваем элементы по вертикали */
}

nav {
    margin-top: 10px;
    background-color: #ffffff;
    overflow: hidden;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 5; /* Увеличиваем жирность шрифта */
    white-space: nowrap;
}

nav a {
    color: #2466E4;
    text-align: center;
    padding: 14px 16px;
    width: 80%;
    text-decoration: none; /* Убираем подчеркивание */
}

nav a:hover {
    font-weight: 500;
}

.navbar-brand {
    height: 100px; /* Регулируем высоту изображения */
}

.img:hover {
    background-color: #ffffff;
    border-radius: 0; /* Отключаем эффект при наведении на SVG */
}

.greeting {
    flex-direction: column;
    margin-left: 20px; /* Увеличил отступ слева, чтобы учесть ширину картинки */
    margin-right: 20px;
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.greeting img {
    margin-left: 20px; /* Увеличил отступ слева, чтобы учесть ширину картинки */
    margin-right: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: auto;
}

.description img {
    margin-left: 20px; /* Увеличил отступ слева, чтобы учесть ширину картинки */
    margin-right: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: auto;
}

.fields {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    background-color: #D9D9D9;
    width: 80%;
    margin: 20px auto; /* Убрал левый и правый отступ, добавил auto для автоматического центрирования по горизонтали */
    padding: 20px; /* Добавил отступы внутри блока для более красивого вида */
    border-radius: 50px; /* Исправил значение радиуса */
    color: #2466E4;
    font-size: 36px;
}

.active {
    background-color: #2466E4;
    height: 80%; /* Выравниваем высоту с текстом */
    color: white;
    border-radius: 40px;
}

.fields input {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 50%;
    box-sizing: border-box; /* Учитывать padding и border внутри width */
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 36px;
    color: #2466E4;
    font-weight: 5;
    font-family: 'Aeroport', sans-serif;
}

.fields select {
    font-weight: 5;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 2rem;
    color: #2466E4;
    font-family: 'Aeroport', sans-serif;
}

.fields option {
    font-weight: 5;
    font-size: 1.5rem;
    padding-left: 20px;
}

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 0 0 48%;
}

.column input, .column select {
    width: 100%;
    box-sizing: border-box;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5%;
    height: auto;
    margin: 20px auto; /* Центрируем кнопку по горизонтали и добавляем отступ сверху и снизу */
    color: #ffffff;
    font-size: 36px;
    background-color: #2466E4;
    font-family: 'Aeroport', sans-serif;
    border-radius: 55px;
    border: none;
}

.bt {
    font-size: 36px;
    background-color: #2466E4;
    font-family: 'Aeroport', sans-serif;
}

@media screen and (max-width: 600px) {
    nav {
        align-items: stretch;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        /* Растягиваем элементы по ширине */
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Выравниваем элементы по вертикали */
    }
    .fields,
    .fields input,
    .fields select,
    .fields option {
        font-size: 20px;
    }

    .navbar-brand {
        height: 50px; /* Регулируем высоту изображения */
    }


    .greeting img, .description img {
        width: 100%; /* Ширина по ширине экрана */
    }

    .bt {
        font-size: 20px;
        background-color: #2466E4;
        font-family: 'Aeroport', sans-serif;
    }
}
